.Card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);;
  text-align: center;
  transition: transform 0.2s;
}

.Card:hover {
  transform: translateY(-5px);
}

.Card img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.Card h3 {
  margin-bottom: 10px;
  color: #ff5722;
}

.Card p {
  font-size: 0.95rem;
  color: #555;
}
