.header {
  display: flex;
  align-items: center;       
  justify-content: space-between; 
  gap: 20px;
  padding: 40px;
  background:  #ff9800;
}

.header-texto {
  flex: 1;
}

.header-texto h1 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 15px;
  text-align: center;
}

.header-texto h2 {
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
  margin-bottom: 20px;
}

.header-texto button {
  padding: 10px 20px;
  background: #ff5722;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.header-texto button:hover {
  background: #e64a19;
}

.header-imagem img {
  max-width: 350px;  
  border-radius: 12px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column; 
    text-align: center;
  }

  .header-imagem img {
    max-width: 80%;
  }
}
